header {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;

    img {
        width: 144px;
        margin-block-start: 160px;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        .button {
            place-self: end;
        }
    }
    

}

